@import "tailwindcss";


.scrollbar-hidden{

    overflow-y: auto; /* Enable vertical scrolling */
  
    scrollbar-width: none; /* Hide the scrollbar */
  
  }

body{
    background-color: rgb(177, 175, 175)
}

